.footer {
   display: flex;
   justify-content: space-between;
   padding: 10px 15px;
   border-top: 1px solid #e6e6e6;
   color: #777;
   font-size: 12px;
   text-align: center;

   .filters li {
      display: inline;
      margin: 3px;
      padding: 3px 7px;
      border: 1px solid transparent;

      &:hover {
         cursor: pointer;
         border: 1px solid transparent;
      }
   }

   .filters .selected {
      border-color: rgba(175, 47, 47, 0.2);
   }

   span {
      user-select: none;
   }

   .clear {
      background: none;
      color: currentColor;
      &:hover {
         cursor: pointer;
         text-decoration: underline;
      }
   }
}
